server:
  port: 8088
#  servlet:
#    context-path: /api
  compression:
    enabled: true
    mime-types: application/json,application/xml,text/html,text/xml,text/plain,application/javascript,text/css
    min-response-size: 1024
springdoc:
  api-docs:
    path: /v3/api-docs
    enabled: true
  swagger-ui:
    path: /swagger-ui.html
    enabled: ${SWAGGER_ENABLE:true}
  show-actuator: false
  default-produces-media-type: application/json

spring:
  application:
    name: telegram-bot-notification

  profiles:
    active: ${SPRING_PROFILES_ACTIVE:default}

  # Docker profile specific config
#  config:
#    activate:
#      on-profile: docker
  datasource:
    url: jdbc:postgresql://${DATABASE_HOST:localhost}:${DATABASE_PORT:54322}/${DATABASE_NAME:telegram-notification}
    username: ${DATABASE_USERNAME:postgres}
    password: ${DATABASE_PASSWORD:telegram-bot@123}
    hikari:
      pool-name: Telegram-HikariCP
      maximum-pool-size: ${HIKARI_MAX_POOL:10}
      minimum-idle: ${HIKARI_MIN_IDLE:5}
      connection-timeout: ${HIKARI_CON_TIMEOUT:30000}
      idle-timeout: ${HIKARI_IDLE_TIMEOUT:600000}
      max-lifetime: ${HIKARI_MAX_LIFETIME:1800000}
      keepalive-time: ${HIKARI_KEEP_ALIVE:300000}
      connection-test-query: SELECT 1
      leak-detection-threshold: 60000

  jpa:
    open-in-view: false
    show-sql: ${JPA_SHOW_SQL:false}
    properties:
      hibernate:
        format_sql: ${HIBERNATE_FORMAT_SQL:false}
        dialect: org.hibernate.dialect.PostgreSQLDialect
        jdbc:
          batch_size: 20
          time_zone: Asia/Phnom_Penh
        order_inserts: true
        order_updates: true
        generate_statistics: false
    hibernate:
      ddl-auto: ${HIBERNATE_DDL_AUTO:update}
    database-platform: org.hibernate.dialect.PostgreSQLDialect

  jackson:
    time-zone: Asia/Phnom_Penh
    default-property-inclusion: NON_NULL
    serialization:
      write-dates-as-timestamps: false
      fail-on-empty-beans: false

  rabbitmq:
    host: ${RABBITMQ_HOST:localhost}
    port: ${RABBITMQ_PORT:5672}
    username: ${RABBITMQ_USERNAME:admin}
    password: ${RABBITMQ_PASSWORD:admin123}
    connection-timeout: 10000
    cache:
      channel:
        size: 25
    listener:
      type: simple
      simple:
        acknowledge-mode: auto
        prefetch: ${RABBITMQ_PREFETCH:10}
        concurrency: ${RABBITMQ_CONCURRENCY:3}
        max-concurrency: ${RABBITMQ_MAX_CONCURRENCY:10}
        retry:
          enabled: true
          initial-interval: 3000
          max-attempts: 3
          multiplier: 2.0
          max-interval: 10000


slack:
  webhook:
    url: ${WEBHOOK_SLACK_URL:}

  # Actuator for health checks
management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus,mappings,env
  endpoint:
    health:
      show-details: always
      probes:
        enabled: true
  health:
    livenessstate:
      enabled: true
    readinessstate:
      enabled: true
    startup:
      enabled: true  # Enable startup probe

# Application specific configuration
app:
  encryption:
    secret-key: ${ENCRYPTION_SECRET_KEY:484a73b16af99dbcff630f6e718c012beb8147c524452224187fc40b82147731}

telegram:
  bot:
    enabled: false
# Logging configuration
#logging:
#  level:
#    root: INFO
#    com.yourpackage: DEBUG
#    org.springframework.web: INFO
#    org.hibernate.SQL: ${LOG_HIBERNATE_SQL:false}
#    org.hibernate.type.descriptor.sql.BasicBinder: TRACE
#  pattern:
#    console: "%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n"
#  file:
#    name: logs/application.log
#    max-size: 10MB
#    max-history: 30